<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="stylesheets/animate.css">

    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">

    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }

        span {
            scale: 1.7;
        }

        .ratings {
            display: flex;
            width: 143px;
            align-items: center;
            justify-content: space-between;
        }

        .blur {
            filter: blur(4px);
        }
    </style>
</head>

<body>
    {{> header}}
    {{!-- {{#each data}} --}}
    <div class="detailscontainer">
        <br>
        <div class="name">

            <h2>{{data.name}}</h2>
        </div>
        <br>
        <br>
        <div class="imagescontainer">
            <img src="/petimages/{{data.image1}}" alt="">
            <img src="/petimages/{{data.image2}}" alt="">
            <img src="/petimages/{{data.image3}}" alt="">
        </div>
        <br>
        <br>
        <div class="pricelocation">
            <div class="price">
                <h3>Rs <b>{{data.price}}</b></h3>
            </div>

            <div class="location">
                <h3>{{data.location}}</h3>
            </div>
        </div>
        <hr>
        <br>
        <div class="description">
            <h4>Description</h4>
            <p>{{data.description}}</p>
        </div>
        <hr>
        <br>
        {{#unless name}}
        <p><a href="/signin" style="font-weight: bold;">Signin</a> to show contact details</p>
        {{/unless}}
        {{#if name}}
        <div class="contact">
            <h4>Contact</h4>
            <div class="address">
                <p id="address"><b>Address :</b> {{data.address}}</p>
            </div>
            <div>
                <p id="contact"><b>phone :</b>{{data.phone}}</p>
            </div>
            <a href="tel:{{data.phone}}">
                <button style="    border: none;
    background: #000000e8;
    color: white;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 9px;
}">Call NOW</button>
            </a>
        </div>
        <br>
        <br>
        {{/if}}

        {{#if name}}

        {{#if rated}}
        <p style="font-weight: normal;">Thanks for your feedback 😊</p>
        {{else}}
        <p style="font-weight: bold;">Your opinion matters 😊</p>
        {{/if}}

        {{/if}}

        {{#if name}}

        <div class="ratings">
            <span class="fa fa-star" id="star1"></span>
            <span class="fa fa-star" id="star2"></span>
            <span class="fa fa-star" id="star3"></span>
            <span class="fa fa-star" id="star4"></span>
            <span class="fa fa-star" id="star5"></span>
        </div>

        {{/if}}

        <br>
        <br>


    </div>
    {{!-- {{/each}} --}}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class="footer-heading">Petsitting</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                title="Twitter"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                title="Facebook"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                title="Instagram"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class="footer-heading">Latest News</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="img mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 7, 2020</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 7, 2020</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                    <h2 class="footer-heading">Quick Links</h2>
                    <ul class="list-unstyled">
                        <input type="text" placeholder="Search..">
                        <li><a href="#" class="py-2 d-block">Home</a></li>
                        <li><a href="#" class="py-2 d-block">About</a></li>

                        <li><a href="#" class="py-2 d-block">Services</a></li>
                        <li><a href="#" class="py-2 d-block"> Works</a></li>
                        <li><a href="#" class="py-2 d-block">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <h2 class="footer-heading">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map"></span><span class="text">203 Fake St. Mountain View, San
                                    Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929
                                        210</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                        class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">

                    <p class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

<script>



    const star1 = document.getElementById('star1')
    const star2 = document.getElementById('star2')
    const star3 = document.getElementById('star3')
    const star4 = document.getElementById('star4')
    const star5 = document.getElementById('star5')

    async function rate(id, val) {
        fetch('http://localhost:3000/ratepet', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'

            },
            body: JSON.stringify({
                petID: id,
                rate: val
            })
        }).then(function (response) {
            window.location.reload();
        })
    }



    if (!{{ rated }}) {
        star1.addEventListener('click', function () {
            showStar(1);
            rate("{{petID}}", 1)


        });

        star2.addEventListener('click', function () {
            showStar(1);
            showStar(2);
            rate("{{petID}}", 2)
        });

        star3.addEventListener('click', function () {
            showStar(1);
            showStar(2);
            showStar(3);
            rate("{{petID}}", 3)

        });

        star4.addEventListener('click', function () {
            showStar(1);
            showStar(2);
            showStar(3);
            showStar(4);
            rate("{{petID}}", 4)

        });

        star5.addEventListener('click', function () {
            showStar(1);
            showStar(2);
            showStar(3);
            showStar(4);
            showStar(5);
            rate("{{petID}}", 5)

        });
    } else if ({{ rated }}) {
        showrating({{ rate }})
    }

    function showrating(rate) {
        if (rate == 1) {
            showStar(1);
        } else if (rate == 2) {
            showStar(1);
            showStar(2);
        } else if (rate == 3) {
            showStar(1);
            showStar(2);
            showStar(3);
        } else if (rate == 4) {
            showStar(1);
            showStar(2);
            showStar(3);
            showStar(4);
        } else if (rate == 5) {
            showStar(1);
            showStar(2);
            showStar(3);
            showStar(4);
            showStar(5);
        }
    }




    function showStar(rating) {
        if (rating == 1) {
            star1.classList.add('checked')
        } else if (rating == 2) {
            star2.classList.add('checked')
        } else if (rating == 3) {
            star3.classList.add('checked')
        } else if (rating == 4) {
            star4.classList.add('checked')
        } else if (rating == 5) {
            star5.classList.add('checked')
        }
    }


</script>

</html>